/problem_data/*.fdb_latexmk
/problem_data/*.fls
/problem_data/*.tex
/Exams*
/Previews
/settings/*.json
/.vscode
/src/exam_generator/__pycache__
/src/*.egg-info

!/settings/settings_template.json
!/problem_data/pool*
!/src
!/docs
!/test 
!/examples
