/Aufgaben/*.fdb_latexmk
/Aufgaben/*.fls
/Aufgaben/*.tex
/Tests-ET1-WS201920
/Tests-ET1-SS2020
/Tests-ET1-WS202021
/Tests-ET1-SS2021
/Tests-ET1-WS202122
/Tests-ET1-SS2022
/Tests-ET1-WS202223
/Previews

!/Aufgaben/poolA
!/Aufgaben/poolB
!/Aufgaben/poolC
!/Aufgaben/poolD
!/Module
