/Problems/*.fdb_latexmk
/Problems/*.fls
/Problems/*.tex
/Tests*
/Previews
/Settings/*.json
/Modules/__pycache__
/__pycache__
/.vscode

!/Problems/poolA
!/Problems/poolB
!/Problems/poolC
!/Problems/poolD
!/Settings/settings_template.json
!/docs
